<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= simple_form_for [@restaurant] do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :category %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
