<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <h1> <%=  @restaurant.name %> <small>
      <%= link_to restaurant_path(@restaurant),
          method: :delete,
          data: { confirm: "Are you sure?" } do  %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </small> </h1>
    <p><%=  @restaurant.address %></p>
    <p><%=  @restaurant.phone_number %></p>
    <p><%=  @restaurant.category %></p>
    <ul>
      <% @restaurant.reviews.each do |review| %>
        <li><%= review.content %> | <%= review.rating %></li>
      <% end %>
    </ul>
    <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
    <%= link_to "Back", restaurants_path  %>
  </div>
</div>
